/www/bbb/
/www/andreww1000.h1n.ru/bitrixsetup.php
/www/andreww1000.h1n.ru/bitrix/
/www/andreww1000.h1n.ru/upload/
/www/andreww1000.h1n.ru/up_blocks/
/www/andreww1000.h1n.ru/.DS_Store

/www/b/bitrixsetup.php
/www/b/bitrix/
/www/b/upload/
/www/b/up_blocks/
/www/b/.DS_Store

bitrixsetup.php


/.Trash-1000/
/currency/
/temp/
/test*/
/zagruzka/
/turbo-img/
/bitrix/

# конфиги PHPStorm
/.idea/
/.vscode/

# исключаем логи
/local/php_interface/logs/
/local/logs/

# исключаем загружаемые файлы
/upload/

# различные системные папки и файлы хостингов и операционных систем
/bin-tmp/
/mod-tmp/
/php-bin/
/email/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# исключаем все текстовые и подобные ресурсы
*.xml
*.html
*.txt
*.log
*.css.map
*.min.css
*.min.js

*.png
*.gif
*.svg
*.jpg
*.jpeg
*.webp

*.csv
*.json
*.pdf
*.ttf
*.woff
*.woff2
*.otf
*.eot

# архивы, включая многотомные
*.zip
*.zip*  
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig

*.rtf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

# храним robots.txt
!/robots.txt