/* Left menu*/
:root {
	--font-size: 16px;
}
@media screen and (max-width: 820px) {
	:root {
		--font-size: 12px;
	}
}

.menu-block {
	max-width: 1180px;
}
.main-menu {
	/*max-width: fit-content;*/
	list-style: none;
	margin: 0 auto 8px auto;
	padding: 10px 20px;
	position: relative; /*IE bug*/
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 7px;
}

.main-menu li {
	display: block;
	/*background: aquamarine url(images/left_menu_bg.gif) top repeat-x;*/
	outline: none;
	border: none;
}

.main-menu li a {
	padding: 10px 16px;
	border-radius: 15px;
	font-size: 100%;
	color: #BC262C;
	background-color: cyan;
	font-weight: bold;
	text-decoration: none;
}

.main-menu li a:visited {
	color:#BC262C;
}

.main-menu li a:hover {
	color:#BC262C;
}

.main-menu li .selected:link,
.main-menu li .selected:visited,
.main-menu li .selected:active,
.main-menu li .selected:hover {
	color:#FC8D3D;
}



