.currency-section {
    box-sizing: border-box;
}
.currency-container {
    /*box-sizing: content-box;*/
    margin: 0 auto;
    max-width: 1410px;
    padding: 0 30px;
}
.currency-grid {
    display: flex;
    flex-wrap: wrap;
    /*margin: -30px 0 0 -30px;*/
}
.currency-grid__item {
    padding: 30px 0 0 0px;
    width: 50%;
}
/*.currency-grid__item--1x2@lg {}*/
.currency-exchange-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.currency-h2 {
    color: #00345e;
    margin: 0 0 40px;
    font-size: 38px;
}
.currency-exchange-info__date {
    align-items: center;
    color: #a58a57;
    font-weight: normal;
    display: flex;
    margin: -20px 0 40px;
}
.currency-exchange-info__date-icon {
    color: #a58a57;
    margin: 2px 7px 0 0;
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.currency-exchange-info__note {
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 20px;
}
.currency-link__text {
    border-bottom: currentColor solid 1px;
    transition: border-bottom-color 0.3s;
}
.currency-exchange-info__brief {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 50px;
}
.currency-exchange-info__renew {
    margin: 60px auto 0 auto;
}
.currency-exchange-info__renew button {
    padding: 25px 70px;
    background-color: #4ebe94;
    cursor: pointer;
}
.currency-exchange-info__set {
    margin: 30px auto 0 auto;
}
.currency-exchange-info__set button {
    padding: 25px 70px;
    background-color: #c5a48f;
    cursor: pointer;
}
.currency-exchange-info__button {}
.currency-button {}
.currency-button--border {}
.currency-exchange-table {
    border-collapse: collapse;
    margin: 0 0 20px;
    width: 100%;
}
.currency-exchange-table th {
    background: #F9FBFB;
    border-bottom: 1px solid rgba(32, 32, 32, 0.2);
    border-top: 1px solid rgba(32, 32, 32, 0.2);
    color: #546770;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}
.currency-exchange-table td {
    font-size: 19px;
    font-weight: 600;
    padding: 7px 0;
    text-align: center;
    width: 27%;
}
.body-table {
    box-sizing: border-box;
}
.currency-exchange-table__value {
    align-items: center;
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
    width: 4.1em;
}
.currency-exchange-table__value--buy {
    color: green;
}
.currency-exchange-table__value--sell {
    color: red;
}
.currency-exchange-table__icon {
    margin-left: 10px;
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.currency-exchange-table__type {
    color: #546770;
    display: inline-block;
    width: 2.5em;
}
.currency-exchange-note {
    color: #546770;
    font-size: 12px;
    font-weight: normal;
    margin: auto 0 0;
}
.currency-exchange-note__item {
    margin: 7px 0 0;
}
